<meta charset="utf-8">
<meta name="theme-color" content="#c83432">
<meta name="msapplication-navbutton-color" content="#c83432">
<meta name="apple-mobile-web-app-status-bar-style" content="#c83432">
<meta name="application-name" content="Sinamega.com">
<meta name="msapplication-TileColor" content="#FFFFFF">
<title>Node.js Getting Started on Heroku</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type"text/css" href="/stylesheets/slidebars.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
