<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<body>
		<div canvas="container">
			<p>
				<!--<button class="js-open-left-slidebar">Open left Slidebar</button>-->
				<!--<button class="js-close-left-slidebar">Close left Slidebar</button>-->
				<button class="js-toggle-left-slidebar">Toggle left Slidebar</button>
			</p>
		</div>

		<div off-canvas="slidebar-1 left reveal">
			<p>Slidebar with id 'slidebar-1' on the left side and reveal style.</p>
		</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/slidebars.min.js"></script>
        <script type="text/javascript" src="/js/slideinit.js"></script>
</body>
</html>
